{% extends 'base.html' %}
{% block content %}
<table>
	<thead>
		<tr>
			<th>No</th>
			<th>Item</th>
			<th>Qty</th>
			<th>Unit price</th>
		</tr>
	</thead>
	<tbody>
		{% for item in payment.get_items %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ item.name }}</td>
			<td>{{ item.quantity }}</td>
			<td>{{ item.unit_price }}</td>
		</tr>
		{% endfor %}
</table>
<p>
You are about to pay <strong>{{ payment.amount }} {{ payment.currency }}</strong>.
If you are sure, select the payment method and press the <em>Pay now</em> button below.
</p>
<form method="POST">
	{{ form.as_p }}
	<input type="submit" value="Pay now" />
</form>
{% endblock %}
