{% extends 'mamona/base.html' %}
{% load i18n %}
{% block content %}
	<p>
	{% if payment.status == 'paid' %}
		{% trans "Your payment has been successful!" %}
	{% endif %}
	{% if payment.status == 'failed' %}
		{% trans "Your payment has failed!" %}
	{% endif %}
	{% if payment.status == 'in_progress' %}
		{% blocktrans %}
		Your payment was passed to the gateway, but we have not received the response yet.
		Please be patient. The status of your payment should be updated soon.
		{% endblocktrans %}
	{% endif %}
	</p>
{% endblock %}
