{% extends 'mamona/base_confirm.html' %}
{% load i18n %}
{% block content %}
{{ block.super }}
<form method="POST" action="{{ paypal.url }}">
	<input type="hidden" name="invoice" value="{{ payment.id }}" />
	{% for item in items %}
		<input type="hidden" name="item_name_{{ forloop.counter }}" value="{{ item.name }}" />
		<input type="hidden" name="amount_{{ forloop.counter }}" value="{{ item.unit_price }}" />
		<input type="hidden" name="quantity_{{ forloop.counter }}" value="{{ item.quantity }}" />
	{% endfor %}
	{% if customer.first_name %}<input type="hidden" name="first_name" value="{{ customer.first_name }}" />{% endif %}
	{% if customer.last_name %}<input type="hidden" name="last_name" value="{{ customer.last_name }}" />{% endif %}
	{% if customer.email %}<input type="hidden" name="email" value="{{ customer.email }}" />{% endif %}
	{% if customer.city %}<input type="hidden" name="city" value="{{ customer.city }}" />{% endif %}
	{% if customer.postal_code %}<input type="hidden" name="zip" value="{{ customer.postal_code }}" />{% endif %}
	{% if customer.country_iso %}<input type="hidden" name="country" value="{{ customer.country_iso }}" />{% endif %}
	<input type="hidden" name="amount" value="{{ payment.amount }}" />
	<input type="hidden" name="currency_code" value="{{ payment.currency }}" />
	<input type="hidden" name="return" value="{{ return_url }}" />
	<input type="hidden" name="notify_url" value="{{ notify_url }}" />
	<input type="hidden" name="business" value="{{ paypal.email }}" />
	<input type="hidden" name="cmd" value="_cart" />
	<input type="hidden" name="upload" value="1" />
	<input type="hidden" name="charset" value="utf-8" />
	<input type="submit" value="{% trans "Pay now" %}" />
</form>
{% endblock %}
